        BODY {
            margin: 10PX;
        }
        
        HEADER {
            background: linear-gradient(to right, rgb(3, 118, 136), rgb(61, 61, 62) 80%);
            display: flex;
            justify-content: space-around;
            border-radius: 140px 10px 10px 140px;
            box-shadow: 2PX 2PX 2PX 2PX rgb(61, 61, 62);
        }
        
        header:hover {
            background: linear-gradient(to right, rgb(3, 118, 136), rgb(61, 61, 62) 60%);
            transition-delay: 1s;
            box-shadow: 2PX 2PX 2PX 3PX rgb(61, 61, 62);
        }
        
        header img {
            border-radius: 90px;
            width: 180px;
            transform: scale(.9);
            margin-left: -49PX;
            box-shadow: 2PX 2PX 2PX 2PX rgb(61, 61, 62);
        }
        
        header h1,
        header p {
            color: rgb(255, 255, 255);
            font-family: Georgia, 'Times New Roman', Times, serif;
            backdrop-filter: blur(1px);
        }
        
        header p {
            font-size: x-large;
        }
        
        header .contact p {
            display: inline;
            font-size: small;
        }
        
        header .contact i {
            color: aliceblue;
        }
        
        header .contact ul li {
            list-style: none;
        }
        
        header .contact {
            transform: translatey(25px);
        }
        
        .whatsapp i:hover {
            transform: scale(1.2);
            color: green;
            transition-duration: .3s;
            cursor: pointer;
        }
        
        .gmail i:hover {
            transform: scale(1.2);
            color: rgb(192, 9, 9);
            transition-duration: .3s;
            cursor: pointer;
        }
        
        .web i:hover {
            transform: scale(1.2);
            color: rgb(6, 0, 111);
            transition-duration: .3s;
            cursor: pointer;
        }
        
        .grid {
            display: grid;
            grid-template-areas: "aside" "main";
            grid-template-columns: 300px 1fr;
            gap: 30px;
        }
        
        aside,
        main {
            padding: 20px;
            border-radius: 20px;
        }
        
        aside {
            color: aliceblue;
            background: linear-gradient(to right, rgb(3, 118, 136), rgb(1, 56, 53) 90%);
            word-spacing: 1.96px;
            letter-spacing: .2px;
            line-height: 20px;
        }
        
        .date {
            display: flex;
            justify-content: space-between;
        }
        
        main .date {
            color: rgb(3, 118, 136);
            text-shadow: .3px .5px rgb(12, 188, 195);
        }
        
        aside i {
            color: rgb(5, 64, 64);
        }
        
        table td {
            border-bottom: 1px solid rgb(234, 234, 234);
            text-align: center;
        }
        
        table i {
            animation: ani 1.9s infinite alternate-reverse;
            animation-timing-function: ease-in-out;
            color: gold;
            animation-delay: 1s;
        }
        
        table {
            border-color: rgb(35, 144, 144);
            border-radius: 20px;
            border-width: 3px;
            border-style: none solid;
            color: rgb(35, 144, 144);
            text-transform: uppercase;
        }
        
        main .lan img {
            height: 70px;
            width: 70px;
            border-radius: 40px;
            display: inline-block;
            margin-right: 30px;
            animation-name: no;
        }
        
        .lan {
            display: flex;
            justify-content: space-around;
        }
        
        main .lan img:hover {
            animation: no 2s reverse infinite forwards;
        }
        
        @keyframes no {
            from {
                transform: rotate(0deg);
            }
            to {
                transform: rotate(360deg);
            }
        }
        
        td i:nth-child(1) {
            animation-delay: 0s;
        }
        
        td i:nth-child(2) {
            animation-delay: 0.7s;
        }
        
        td i :nth-child(3) {
            animation-delay: 0.6s;
        }
        
        td i :nth-child(4) {
            animation-delay: 0.9s;
        }
        
        td i :nth-child(5) {
            animation-delay: 01.2s;
        }
        
        @keyframes ani {
            0% {
                transform: translateY(0px);
            }
            50% {
                transform: translateY(-3px);
                ;
            }
            75% {
                transform: translateY(03px);
            }
            100% {
                transform: translateY(0px);
            }
        }